<%= content_for(:title, 'Welcome') %>

<div class="container">
  <h1>Welcome to Health Care</h1>
  <p>We provide excellent healthcare services to our patients.</p>
  <p>Choose the appropriate portal to get started:</p>
</div>
